<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="https://cdn.usebootstrap.com/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.usebootstrap.com/bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
    <title>View Products</title>
</head>

<body>
    <section class="vh-100" style="background-color: #f4f5f7;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-brand">ATN Toys</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/viewToys">View Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/insert">New product</a>
                        </li>
                    </ul>
                    {{#if name}}
                    <form class="d-flex" action="/search" method="post">
                        <input class="form-control me-2" type="search" value="{{name}}" name="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    {{else}}
                    <form class="d-flex" action="/search" method="post">
                        <input class="form-control me-2" type="search" placeholder="Search" name="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    {{/if}}
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row d-flex justify-content-center h-100">
                <table class="table table-responsive">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Provider</th>
                        <th>Image</th>
                    </tr>
                    {{#each toys}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{price}} USD</td>
                        <td>{{provider}}</td>
                        <td><img src="/images/{{image}}" alt="{{image}}" style="border-radius: 15px;" width="100px">
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </section>


</body>

</html>